@using FurnitureShop.Admin.Blazor.Dtos
@inject HttpClient Http
<h3>User</h3>

@code {
    private List<UserView>? _users = new List<UserView>();

    protected override async Task OnInitializedAsync()
    {
       
    }
}
