<MudNavMenu>
    <div class="containers">
        <MudNavLink Href="" Match="NavLinkMatch.All">Home</MudNavLink>
        <MudNavLink Href="fetchdata" Match="NavLinkMatch.Prefix">Fetch</MudNavLink>
        <MudNavLink Href="categories" Match="NavLinkMatch.Prefix">Categories</MudNavLink>
        <MudNavLink Href="category" Match="NavLinkMatch.Prefix">Category</MudNavLink>
        <MudNavLink Href="organizations" Match="NavLinkMatch.Prefix">Organizations</MudNavLink>
    </div>
</MudNavMenu>

<style>
    .containers{
        display: flex;
    }

    .mud-nav-item {
        width: auto;
    }

    .mud-ripple {
        color: white !important;
    }

    .mud-nav-link-text {
        color: white !important;
    }

    ..mud-nav-link .mud-nav-link-text {
        width: 90px;
        text-align: center;
        margin-left: 12px;
        margin-inline-start: 12px;
        margin-inline-end: unset;
        letter-spacing: 0;
        color: white;
    }
</style>
