@using FurnitureShop.Blazor.Services
@inject CategoryService CategoryService

<link rel="stylesheet" href="css/font-awesome/css/fontawesome.min.css" />

<!--------------------------------------------Catalog---------------------------------------------------->
<MudNavMenu>
    @if (_categories is not null)
    {
        
        @foreach (var category in _categories)
        {
            if(category.Children is not null)
            {
                <a href="/category">
                    <MudNavGroup Title="@category.Name" Class="NavCat" Expanded="false">
                        @foreach (var _subCategory in category.Children)
                        {
                            <MudNavLink Href="/products" Match="NavLinkMatch.Prefix">@_subCategory.Name</MudNavLink>
                        }
                    </MudNavGroup>
                </a>
                
            }
            else
            {
                <MudNavLink Href="/" Match="NavLinkMatch.Prefix">@category.Name</MudNavLink>
            }
        }
        
    }
    <!------------------------------------------------------------------------------------------------->
</MudNavMenu>

@code{
    private List<CategoryView>? _categories;

    protected override async Task OnInitializedAsync() => _categories = await CategoryService.GetCategoriesAsync();
}

<style>
    .NavCat .mud-nav-link-text {
        color: black !important;
    }
</style>