@inject NavigationManager navigationManager

<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Categories /</span> @CurrentPageName()
</h4>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-sm-row mb-4"> 
      <li class="nav-item"><a class="nav-link @ActivatePage(1)" href="/categories"><i class="bx bx-detail"></i> List</a></li>
      <li class="nav-item"><a class="nav-link @ActivatePage(2)" href="/categories/detail"><i class="bx bx-grid-alt"></i> Details</a></li>
    </ul>
  </div>
</div>

@code {
    private string ActivatePage(int i)
    {
        if(i == 1 && navigationManager.Uri[^10..] == "categories")
            return "active";
        else if(i == 2 && navigationManager.Uri[^6..] == "detail")
            return "active";
        
        return string.Empty;
    }
    
    private string CurrentPageName()
    {
        if(navigationManager.Uri[^10..] == "categories")
            return "List";
        else if(navigationManager.Uri[^6..] == "detail")
            return "Details";
        
        return string.Empty;
    }
}