@page "/organizations"
@using FurnitureShop.Admin.Blazor.Dtos;
@inject HttpClient Http

<PageTitle>Organizations</PageTitle>

<div class="container">
    <div class="card">
        <div class="card-body text-sm-center text-center">
            <button  type="submit" class="btn btn-primary mb-3 text-nowrap add-new-role">Add New Category</button>
        </div>
    </div>
    <br>
    <div class="row">
        @foreach (var element in Elements)
        {
            <div class="col-md-3">
                <div class="card my_card">
                    <div class="myCard_image">
                        <img class="card_image" src="https://images.samsung.com/is/image/samsung/assets/id/2208/pfs/02-03-B4-kv-Durability-pc-570x304.jpg?$FB_TYPE_J_S_JPG$" alt="Organization Image">
                    </div>
                    
                    <div class="myCard_body">
                        <b class="myCard_name">@element.Name</b>
                        <p class="myCard_owner">By Abdulaziz Abduqaxxarov</p>
                        <span class="myCard_Span">256 prj.</span> 
                    </div>

                    <hr>

                    <div class="myCard_footer">
                        <button style="margin-right: 10px" type="submit" class="btn btn-danger mb-3 text-nowrap add-new-role">Delete</button>
                        <button type="submit" class="btn btn-warning mb-3 text-nowrap add-new-role">Update</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<_AddOrganization />

@code {
    public async void DeleteOrganizationById(string organizationId)
    {
        await Http.DeleteAsync($"https://localhost:7113/api/Organizations/{organizationId}");
    }

    private List<OrganizationView> Elements = new List<OrganizationView>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await Http.GetFromJsonAsync<List<OrganizationView>>("https://localhost:7113/api/Organizations");
    }
}