:root {
    --gray: #F5F6FA;
    --white: #FFFFFF;
    --fontColor: #A7ACB5;
    --darkFontColor: #333333;
    --green: #00CB4F;
    --blue: #3E84F9;
}

body {
    margin: 0;
    background-color: var(--gray);
    font-family: Montserrat;
    color: var(--fontColor);
    --webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    text-shadow: none;
    font-weight: normal;
}

h1, h2 {
    margin: 0;
    padding: 0;
    color: var(--darkFontColor);
    font-weight: normal;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

i {
    color: var(--fontColor);
}

#nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 80%;
}

    nav ul {
        display: flex;
    }

        nav ul li {
            margin: 24px;
        }

            nav ul li:first-of-type {
                color: var(--darkFontColor);
            }

    nav .fa-bars {
        display: none;
    }

    nav #mobile-menu {
        display: none;
    }

main {
    width: 80%;
    margin: 0 auto;
}

section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

section:nth-of-type(3) {
    height: 450px;
    border-radius: 4px;
}

.jobStatisticsDiv {
    display: flex;
    align-items: center;
    height: 150px;
    width: 30%;
    background-color: var(--white);
    border-radius: 4px;
}

    .jobStatisticsDiv span {
        color: var(--fontColor);
        font-size: 12px;
    }

    .jobStatisticsDiv i {
        margin: 32px;
    }

    .jobStatisticsDiv:first-of-type i {
        color: var(--blue);
    }

    .jobStatisticsDiv:nth-of-type(2) i {
        color: var(--blue);
    }

    .jobStatisticsDiv:nth-of-type(3) i {
        color: var(--green);
    }

#barChart {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 1000px;
        margin: 0 auto;
        padding: 16px 0;
    }

    section:nth-of-type(1) {
        height: 100px;
    }

    section:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 500px;
    }

    section:nth-of-type(3) {
        height: 400px;
        margin-top: 16px;
    }

    .jobStatisticsDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 100%;
        margin-top: 16px;
        background-color: var(--white);
        border-radius: 4px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        height: 75px;
    }

        nav ul {
            display: none;
        }

        nav img {
            display: none;
        }

        nav .fa-bars {
            display: block;
            cursor: pointer;
        }

        nav #mobile-menu.open {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--fontColor);
            font-size: 36px;
            z-index: 9999;
            opacity: 0.9;
        }


        nav #mobile-menu p {
            margin-top: 40px;
            cursor: pointer;
            text-align: center;
            color: black;
        }

        nav #mobile-menu a {
            text-decoration: none;
            color: black;
        }
}



.Div {
    margin-top: 120px;
}

.text-center {
    text-align: center;
    padding: 18px 0px;
}

.container {
    padding: 10px 0px;
}

.organizations {
    display: flex;
    justify-content: space-between;
}

.organization {
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 18px;
    width: 280px;
}

img {
    width: 100%;
    padding: 10px 0px 0px 0px;
}