@page "/editprofile"
@using FurnitureShop.Dashboard.Blazor.Dtos

@inject HttpClient client



<h3>EditProfile</h3>


<br>

<MudTextField @bind-Value="updateProfileDto.UserName" Label="Username" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="updateProfileDto.FirstName" Label="Firstname" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="updateProfileDto.LastName" Label="Lastname" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="updateProfileDto.Email" Label="Email" Variant="Variant.Outlined"></MudTextField>

<br>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(async()=> await PutProfile())">Add</MudButton>





@code {
    UpdateProfileDto updateProfileDto = new UpdateProfileDto();


    private async Task PutProfile()
    {
        var message = new HttpRequestMessage(HttpMethod.Put, "/api/profiles");
        message.Content = JsonContent.Create(updateProfileDto);
        message.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

        var responseMessage = await client.SendAsync(message);
    }


}
