@page "/cart"
@using FurnitureShop.Client.Blazor.ViewModel;
@using Newtonsoft.Json
@inject HttpClient Http

<PageTitle>My cart</PageTitle>

<div class="container">
    <div class="row">
        @foreach (var element in Elements ?? new List<CartProductView>())
        {
            <div class="col-md-3">
                <div class="card my_card">
                    <div class="myCard_image">
                        <img class="card_image" src="https://images.samsung.com/is/image/samsung/assets/id/2208/pfs/02-03-B4-kv-Durability-pc-570x304.jpg?$FB_TYPE_J_S_JPG$" alt="Organization Image">
                    </div>
                    
                    <div class="myCard_body">
                        <b class="myCard_name">@element.Product.Name</b>
                        <p class="myCard_owner">Lorem</p>
                        <span class="myCard_Span">Price : @element.Product.Price $ </span> 
                    </div>

                    <hr>

                    <div class="myCard_footer">
                        <button style="margin-right: 10px" type="submit" class="btn btn-danger mb-3 text-nowrap add-new-role">Delete</button>
                        <button type="submit" class="btn btn-warning mb-3 text-nowrap add-new-role">Update</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    List<CartProductView> Elements = new List<CartProductView>();

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:7148");

        var message = new HttpRequestMessage(HttpMethod.Get, "/api/Carts");
        message.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

        var profileJson = await (await client.SendAsync(message)).Content.ReadAsStringAsync();
        Elements = JsonConvert.DeserializeObject<List<CartProductView>>(profileJson);
    }
}