@page "/"
@using FurnitureShop.Client.Blazor.ViewModel;
@inject HttpClient Http;

@if(productViews is  null)
{
    <MudText>Products</MudText>
}

<h3 class="mb-5">Products</h3>

<div class="row mt-1" style="display: flex; flex-wrap:wrap; justify-content: flex-start">
    @foreach (var prodGroup in productViews?? new List<ProductView>())
    {
        <div class="col-md-3 mb-2" style="border: 1px solid black; margin-right:20px;">

            <a href="/">
                <div class="card">
                    <img class="img-thumbnail" style="border-bottom:1px solid black;" src="images/Furniture3.png" height="200" width="250">
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            @prodGroup.Name
                        </h5>
                        <p class="card-text">
                            <b>@prodGroup.Price</b>
                        </p>
                    </div>
                </div>
            </a>

        </div>
    }
</div>
<hr class="mb-3" />




@code {
    private IEnumerable<ProductView>? productViews;
    protected override async Task OnInitializedAsync()
    {
        productViews = await Http.GetFromJsonAsync<IEnumerable<ProductView>>("https://localhost:7148/api/Products");
    }
}
