@page "/orders"
@using FurnitureShop.Merchant.Blazor.ViewModel
@inject HttpClient _http;

<h3>Orders</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Order #</th>
            <th>Organization</th>
            <th>Cutomer</th>
            <th>Products</th>
            <th>Status</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
    </thead>

    @for (int i = 1; i < 6; i++)
    {
        <tbody>
            <tr>
                <td>
                    @i
                </td>
                <td>
                    Apple
                </td>
                <td>
                    John Doe
                </td>
                <td>
                    IPhone 14 Pro
                </td>
                <td>
                    Created
                </td>
                <td>
                    <button class="btn btn-sm btn-primary"> Accept </button>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger">Reject</button>
                </td>
            </tr>
        </tbody>
    }
</table>
@code {
    private List<OrderView> orders;

    [Parameter]
    public string organizationId { get; set; }
}
