@page "/add-organization"
@using FurnitureShop.Merchant.Blazor.Dtos
@inject NavigationManager NavManager
<PageTitle>Add Organization</PageTitle>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <h2> Create Organization </h2>
    <DataAnnotationsValidator />
    <MudTextField Label="Name"
                  @bind-Value="model.Name" For="@(() => model.Name)" />
    <br />
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto drawMiniButton">Create</MudButton>
</EditForm>

@code {
    CreateOrganizationDto? model = new CreateOrganizationDto();
    AddFiles OrganizationImage = new AddFiles();

    protected void Redirect(string route)
    {
        NavManager.NavigateTo(route);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:1009");

        var message = new HttpRequestMessage(HttpMethod.Post, $"/api/Organizations");
        message.Content = JsonContent.Create(model);

        message.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);
        var responseMessage = await client.SendAsync(message);
        if (responseMessage.IsSuccessStatusCode)
            Redirect("/organizations");
    }
}
