@page "/add-organization"
@using FurnitureShop.Merchant.Blazor.Dtos
@using FurnitureShop.Merchant.Blazor.Services
@inject NavigationManager NavManager
@inject OrganizationService organizationService
<PageTitle>Add Organization</PageTitle>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <h2> Create Organization </h2>
    <DataAnnotationsValidator />
    <MudTextField Label="Name" @bind-Value="model.Name" For="@(() => model.Name)" />
    <br />
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto drawMiniButton">Create</MudButton>
</EditForm>

<h1>@errorMessage</h1>

@code {
    CreateOrganizationDto? model = new CreateOrganizationDto();
    AddFiles OrganizationImage = new AddFiles();
    string errorMessage = null;

    protected void Redirect(string route)
    {
        NavManager.NavigateTo(route);
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var result = await organizationService.CreateOrganizationAsync(model);

        if (result.IsSuccess)
            Redirect("/organizations");
        else
            errorMessage = result.ErrorMessage;
    }
}
