@page "/add-product"
@using FurnitureShop.Admin.Blazor.Dtos
@inject HttpClient _http;

<PageTitle>Add Product</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudCard Height="420px" Width="480px" Class="mt-5 ml-10 mr-10">
        <h2>Add Product Form</h2>
        <MudTextField @bind-Value="productDtoModel.Name" Label="Name" Variant="Variant.Text" Required></MudTextField>
        <MudTextField @bind-Value="productDtoModel.Description" Label="Desciption" Variant="Variant.Text" Required ></MudTextField>
        <MudTextField @bind-Value="productDtoModel.Price" Label="Price" Variant="Variant.Text" Required></MudTextField>
        <MudTextField @bind-Value="productDtoModel.Count" Label="Count" Variant="Variant.Text" Required></MudTextField>
        <MudTextField @bind-Value="productDtoModel.CategoryId" Label="Category id" Variant="Variant.Text" Required></MudTextField>
        <MudTextField @bind-Value="productDtoModel.OrganizationId" Label="Organization id" Variant="Variant.Text" Required></MudTextField>
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Filled.Done"
                   Color="Color.Primary" OnClick="OnInitializedAsync" Class="ma-5">Submit</MudButton>
    </MudCard>
</MudGrid>

@code {
    private CreateProductDto? productDtoModel = new CreateProductDto();

    protected override async Task OnInitializedAsync()
    {
        await _http.PostAsJsonAsync("https://localhost:7113/api/Products", productDtoModel);
    }
}