@page "/"

<PageTitle>Index</PageTitle>

<h1>Assalomu Alaykum!</h1>
<p>Ushbu sayt Furneture.uz saytining merchantchilari uchun yaratilgan!</p>
<p>Sayt yasashda ishtirok etganlar:</p>
<b>Muhammaddiyor Imomnazarov <br />
   Abdulaziz Abduqaxxarov <br />
   Diyorbek (Abdu Usmon) <br />
   Azizbek Niyatov <br />
   Umidbek Ozotov </b>