@page "/"

<PageTitle>Home</PageTitle>

<svg display="none">
    <symbol id="calendar" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="8,1 8,6" />
            <polyline points="16,1 16,6" />
            <polyline points="2,10 22,10" />
            <circle cx="7" cy="14" r="1" />
            <circle cx="12" cy="14" r="1" />
            <circle cx="17" cy="14" r="1" />
            <circle cx="7" cy="19" r="1" />
            <circle cx="12" cy="19" r="1" />
            <circle cx="17" cy="19" r="1" />
            <rect x="2" y="3" rx="3" ry="3" width="20" height="20" />
        </g>
    </symbol>
    <symbol id="export" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="8,5 12,1 16,5" />
            <polyline points="12,1 12,16" />
            <rect x="2" y="10" rx="3" ry="3" width="20" height="13" />
        </g>
    </symbol>
    <symbol id="hat" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle r="8" cx="12" cy="14" stroke-dasharray="25.13 25.13" stroke-dashoffset="25.13" />
            <polygon points="1,14 23,14" />
        </g>
    </symbol>
    <symbol id="laptop" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="3" y="2" rx="3" ry="3" width="18" height="12" />
            <polygon points="3,14 21,14 23,22 1,22" />
        </g>
    </symbol>
    <symbol id="monitor" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="1" y="1" rx="3" ry="3" width="22" height="16" />
            <polyline points="1,12 22,12" />
            <polyline points="12,19 12,21" />
            <polyline points="6,23 18,23" />
        </g>
    </symbol>
    <symbol id="pants" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="4,1 20,1 20,23 12,23 12,8 12,8 12,23 4,23" />
        </g>
    </symbol>
    <symbol id="shirt" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polygon points="8,3 12,6 16,3 23,6 21,11 18,10 20,21 4,21 6,10 3,11 1,6" />
        </g>
    </symbol>
    <symbol id="smartphone" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="4" y="1" rx="3" ry="3" width="16" height="22" />
            <polyline points="10,6 14,6" />
            <circle cx="12" cy="18" r="1" />
        </g>
    </symbol>
    <symbol id="tablet" viewBox="0 0 24 24">
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="2" y="1" rx="3" ry="3" width="20" height="22" />
            <circle cx="12" cy="18" r="1" />
        </g>
    </symbol>
</svg>
<main class="db">
    <div class="db__toolbar">
        <h1 class="db__heading">Sales</h1>
        <div class="db__toolbar-btns">
            <button class="db__select" type="button">
                <svg class="db__select-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#calendar" />
                </svg>
                Date
            </button>
            <button class="db__select" type="button">
                <svg class="db__select-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#export" />
                </svg>
                Export
            </button>
        </div>
    </div>
    <div class="db__cell">
        <h2 class="db__top-stat">Today’s Revenue</h2>
        <div class="db__progress">
            <div class="db__progress-fill" style="transform:translateX(15%)"></div>
        </div>
        <div class="db__counter">
            <div class="db__counter-value" title="$3,330,050.90">$3.33M</div>
            <div class="db__counter-label">
                <strong>+15%</strong><br><small>vs yesterday</small>
            </div>
        </div>
    </div>
    <div class="db__cell">
        <h2 class="db__top-stat">Today’s Orders</h2>
        <div class="db__progress">
            <div class="db__progress-fill" style="transform:translateX(20%)"></div>
        </div>
        <div class="db__counter">
            <div class="db__counter-value">7,410</div>
            <div class="db__counter-label">
                <strong>+20%</strong><br><small>vs yesterday</small>
            </div>
        </div>
    </div>
    <div class="db__cell">
        <h2 class="db__top-stat">Avg. Order Value</h2>
        <div class="db__progress">
            <div class="db__progress-fill" style="transform:translateX(42%)"></div>
        </div>
        <div class="db__counter">
            <div class="db__counter-value">$449.40</div>
            <div class="db__counter-label">
                <strong>+42%</strong><br><small>vs yesterday</small>
            </div>
        </div>
    </div>
    <div class="db__cell">
        <h2 class="db__subheading">Sales in Last 7 Days</h2>
        <div class="db__bars">
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$4,610,555.90">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-92.2%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$3,612,857.76">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-72.3%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$2,137,371.54">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-42.7%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$4,856,109.94">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-97.1%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$3,662,766.81">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-73.3%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$2,895,150.25">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-57.9%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">
                <div class="db__bars-cell-bar" title="$3,330,050.90">
                    <div class="db__bars-cell-bar-fill" style="transform:translateY(-66.6%)"></div>
                </div>
            </div>
            <div class="db__bars-cell">$5M</div>
            <div class="db__bars-cell">$4M</div>
            <div class="db__bars-cell">$3M</div>
            <div class="db__bars-cell">$2M</div>
            <div class="db__bars-cell">$1M</div>
            <div class="db__bars-cell"></div>
            <div class="db__bars-cell">
                <time datetime="2022-05-01">5/1</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-02">5/2</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-03">5/3</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-04">5/4</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-05">5/5</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-06">5/6</time>
            </div>
            <div class="db__bars-cell">
                <time datetime="2022-05-07">5/7</time>
            </div>
        </div>
    </div>
    <div class="db__cell">
        <h2 class="db__subheading">Best Selling Products</h2>
        <table class="db__product-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Orders</th>
                    <th>Status</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="db__product">
                            <div class="db__product-details">
                                <div class="db__product-detail-line">Sofa</div>
                                <div class="db__product-detail-line">
                                    <small>2,710 Orders</small>
                                </div>
                                <div class="db__status db__status--green">In Stock</div>
                            </div>
                            <div class="db__product-details">
                                <strong>$599.99</strong>
                            </div>
                        </div>
                    </td>
                    <td>Sofa</td>
                    <td>2,710</td>
                    <td class="db__status db__status--green">In Stock</td>
                    <td><strong>$599.99</strong></td>
                </tr>
                <tr>
                    <td>
                        <div class="db__product">
                            <div class="db__product-details">
                                <div class="db__product-detail-line">Rolling Chair</div>
                                <div class="db__product-detail-line">
                                    <small>1,066 Orders</small>
                                </div>
                                <div class="db__status db__status--red">Out of Stock</div>
                            </div>
                            <div class="db__product-details">
                                <strong>$1199.99</strong>
                            </div>
                        </div>
                    </td>
                    <td>Rolling Chair</td>
                    <td>1,066</td>
                    <td class="db__status db__status--red">Out of Stock</td>
                    <td><strong>$1199.99</strong></td>
                </tr>
                <tr>
                    <td>
                        <div class="db__product">
                            <div class="db__product-details">
                                <div class="db__product-detail-line">Chaise longue</div>
                                <div class="db__product-detail-line">
                                    <small>102 Orders</small>
                                </div>
                                <div class="db__status db__status--orange">Low In Stock</div>
                            </div>
                            <div class="db__product-details">
                                <strong>$44.99</strong>
                            </div>
                        </div>
                    </td>
                    <td>Chaise longue</td>
                    <td>327</td>
                    <td class="db__status db__status--orange">Low In Stock</td>
                    <td><strong>$44.99</strong></td>
                </tr>
                <tr>
                    <td>
                        <div class="db__product">
                            <div class="db__product-details">
                                <div class="db__product-detail-line">Bed</div>
                                <div class="db__product-detail-line">
                                    <small>303 Orders</small>
                                </div>
                                <div class="db__status db__status--green">In Stock</div>
                            </div>
                            <div class="db__product-details">
                                <strong>$549.99</strong>
                            </div>
                        </div>
                    </td>
                    <td>Bed</td>
                    <td>303</td>
                    <td class="db__status db__status--green">In Stock</td>
                    <td><strong>$549.99</strong></td>
                </tr>
                <tr>
                    <td>
                        <div class="db__product">
                            <div class="db__product-details">
                                <div class="db__product-detail-line">Dresser</div>
                                <div class="db__product-detail-line">
                                    <small>104 Orders</small>
                                </div>
                                <div class="db__status db__status--green">In Stock</div>
                            </div>
                            <div class="db__product-details">
                                <strong>$1,699.99</strong>
                            </div>
                        </div>
                    </td>
                    <td>Dresser</td>
                    <td>104</td>
                    <td class="db__status db__status--green">In Stock</td>
                    <td><strong>$269.99</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="db__cell">
        
        @*<div class="db__bubbles">
        <img src="https://c4.wallpaperflare.com/wallpaper/582/443/760/white-design-room-sofa-wallpaper-preview.jpg"
        style="height:300px; width:100%"/>
        </div>*@
        <MudCarousel Class="mud-width-full" Style="height:380px;width:100%;" ShowArrows="@arrows" 
        ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
            <MudCarouselItem Transition="transition" >
                <div class="d-flex" style="height:100%">
                    <img src="https://c4.wallpaperflare.com/wallpaper/582/443/760/white-design-room-sofa-wallpaper-preview.jpg"
                    style="height:375px;width:100%;border-radius:8px;"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition">
                <div class="d-flex" style="height:100%">
                  <img src="https://w0.peakpx.com/wallpaper/18/944/HD-wallpaper-blue-living-room-blue-interior-modern-design-blue-walls-blue-sofas-creative-floor-lamp.jpg"
                    style="height:375px;width:100%;border-radius:8px;"/>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Transition="transition">
                <div class="d-flex" style="height:100%">
                     <img src="https://images6.alphacoders.com/647/647568.jpg"
                    style="height:375px;width:100%;border-radius:8px;"/>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </div>
    <div class="db__cell">
        <h2 class="db__subheading">Recent Orders</h2>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#smartphone" />
                </svg>
            </div>
            <div class="db__order-name">
                Sofa<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$599.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#laptop" />
                </svg>
            </div>
            <div class="db__order-name">
                Chairs for gaming<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$1199.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#pants" />
                </svg>
            </div>
            <div class="db__order-name">
                Rolling chair<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$44.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#shirt" />
                </svg>
            </div>
            <div class="db__order-name">
                Dresser<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$54.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#monitor" />
                </svg>
            </div>
            <div class="db__order-name">
                Table<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$1,699.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#tablet" />
                </svg>
            </div>
            <div class="db__order-name">
                Wing chair<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$549.99</strong></div>
        </div>
        <div class="db__order">
            <div class="db__order-cat">
                <svg class="db__order-cat-icon" width="24px" height="24px" aria-hidden="true">
                    <use xlink:href="#hat" />
                </svg>
            </div>
            <div class="db__order-name">
                Accent chair<br>
                <small>
                    <time datetime="2022-05-07 18:49:00">May 7 at 6:49 PM</time>
                </small>
            </div>
            <div><strong>$224.99</strong></div>
        </div>
    </div>
</main>

@code {
    @code {
        private bool arrows = true;
        private bool bullets = false;
        private bool enableSwipeGesture = true;
        private bool autocycle = true;
        private Transition transition = Transition.Slide;
    }
}