@page "/organizations"
@using FurnitureShop.Admin.Blazor.ViewModel
@inject HttpClient http;


<PageTitle>Organization</PageTitle>


@if (organizations is not null)
{
    foreach (var organization in organizations)
    {
        var organizationLink = $"/organizations/{organization.Id}";

        <MudGrid Justify="Justify.SpaceBetween">
            <MudCard Height="300px" Width="250px" Class="mt-5 ml-10 mr-10"> 
                <MudLink Href="@organizationLink">
                    <h4>@organization.Name</h4>
                </MudLink>
                <img src="@organization.ImageUrl" style="width:250px; height:250px;">
            </MudCard>
        </MudGrid>
    }
}
else
{
    <p> Model is null</p>
}


@code {
    private List<OrganizationView>? organizations;

    protected override async Task OnInitializedAsync()
    {
        organizations = await http.GetFromJsonAsync<List<OrganizationView>>("https://localhost:7113/api/Organizations");
    }
}