@page "/organizations/{Id}"
@using FurnitureShop.Admin.Blazor.ViewModel
@inject HttpClient http;

@if (organization is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudCard Height="420px" Width="460px" Class="mt-10">
            <img src="@organization.ImageUrl" style="width:420px; height:350px;">
            <h4>Name: @organization.Name</h4>
            <h5>Status: @organization.Status</h5>
        </MudCard>
    </MudGrid>
}
else
{
    <h3> Model is null</h3>
}

@code {
    private OrganizationView? organization;

    protected override async Task OnInitializedAsync()
    {
        organization = await GetOrganizationAsync(Id);
    }

    public async Task<OrganizationView?> GetOrganizationAsync(string organizationId)
    {
        return await http.GetFromJsonAsync<OrganizationView>($"https://localhost:7113/api/Organizations/{organizationId}");
    }


    [Parameter]
    public string Id { get; set; }
}
