@*@page "/profile"
<PageTitle>Profile</PageTitle>

@using FurnitureShop.Admin.Blazor.Dtos
@using FurnitureShop.Admin.Blazor.ViewModel
@using Newtonsoft.Json

<h1>User-Name: @user?.UserName</h1>
<h1>Email: @user?.Email</h1>
<h1>First-Name: @user?.FirstName</h1>
<h1>Last-Name: @user?.LastName</h1>


@code {
    UserView user = new UserView();

    protected override async Task OnInitializedAsync()
    {
        var client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:7113");

        var message = new HttpRequestMessage(HttpMethod.Get, "/api/profile");
        message.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);

        var profileJson = await (await client.SendAsync(message)).Content.ReadAsStringAsync();
        user = JsonConvert.DeserializeObject<UserView>(profileJson);
    }
}*@